<%= erb :"common/header" %>

    <% unless @provided_email.nil? %>
    <p>You submitted</p>
    <P>Email: <%=h @provided_email %></p>
    <p>Password: <%=h @provided_password %></p>
    <% end %>

<%= erb :"common/footer" %>