<%= erb :"common/header" %>

    <img src="images/tuos.png" width="200" />

    <p>Showing how to incorporate CSS and images into the
    pages of your web application.</p>

    <p>Your name is <strong><%= @first_name %> 
    <%= @last_name %></strong>.</p>

    <p><&=h name(first_name,last_name) %></p>

<%= erb :"common/footer" %>